<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head></h:head>
<ui:composition>
	<ui:fragment>
		<div class="divPos">
			<h:form id="form1">
				<h:outputScript library="primefaces" name="jquery/jquery.js" />
				<link rel="stylesheet"
					href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
				<script
					src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
				<script
					src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
				<link rel="stylesheet" href="resources/css/callSystem.css" />



				<h:outputLabel value="Name:  " for="name" styleClass="labelPos" />
				<h:message for="name" styleClass="msg"></h:message>
				<h:inputText id="name" value="#{helpPost.helpPostDTO.name}"
					styleClass="fieldsPos form-control" required="true"
					requiredMessage=" Required!" />
					
				<h:outputLabel value="Location: " for="location"
					styleClass="labelPos" />
					<h:message for="location" styleClass="msg"></h:message>
				<h:inputText id="location" value="#{helpPost.helpPostDTO.location}"
					styleClass="fieldsPos form-control" required="true"
					requiredMessage="Required!" />

				<h:outputLabel value="Description: " for="description"
					styleClass="labelPos" />
					<h:message for="description" styleClass="msg"></h:message>
				<h:inputText id="description"
					value="#{helpPost.helpPostDTO.description}"
					styleClass="fieldsPos form-control" required="true"
					requiredMessage="Required!">
				
				</h:inputText>

				<h:outputLabel value="Image: " for="image" styleClass="labelPos" />
				<h:message for="image" styleClass="msg"></h:message>
				<h:inputText id="image" value="#{helpPost.helpPostDTO.imageUrl}"
					styleClass="fieldsPos form-control" required="true"
					requiredMessage="Required!" validatorMessage="Input is not url!">
					<f:validateRegex pattern="(https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9]+\.[^\s]{2,}|www\.[a-zA-Z0-9]+\.[^\s]{2,})"
					/>
				</h:inputText>

				<h:outputLabel value="Category: " for="category"
					styleClass="labelPos" />
					<h:message for="category" styleClass="msg"></h:message>
				<h:selectOneMenu id="category"
					value="#{helpPost.helpPostDTO.category}"
					styleClass="fieldsPos form-control" required="true">

					<f:selectItems value="#{helpPost.categories}" var="category"
						itemValue="#{category.id}" itemLabel="#{category.name}" />
				</h:selectOneMenu>
				<h:outputLabel value="Date and Time: " for="datetime"
					styleClass="labelPos" />
					<h:message for="datetime" styleClass="msg"></h:message>
				<p:calendar id="datetime" value="#{helpPost.helpPostDTO.datetime}"
					pattern="dd.MM.yyyy HH:mm" styleClass="fieldsPos form-control"
					required="true" requiredMessage="Required!"></p:calendar>

				<p:commandButton type="submit" value="Add Post"
					action="#{helpPost.addPost}" update="@all"
					styleClass="btn btn-success addButton" />
					<h:outputText id="test"  binding="#{helpPost.component}"/>
            		<h:message for="test" styleClass="resultMsg" />
			</h:form>
		</div>
		
	</ui:fragment>
</ui:composition>
</html>