body{
	background: url('../images/background.png') no-repeat center center fixed;
	
}
.divPos{
	position: absolute;
  	top: 15%;
  	left: 25%;
  	width:50vw;
  	height:20vh;
}
.fieldsPos{
	width:60%;
	margin:1% 20%;
	height: 5%;
	text-align: center;
	font-size: 17px;
}
.addButton{
	margin: 1% 40%;
}
.labelPos{
	margin: 0px 0px 0px 20% ;
	font-size: 16px;
}
.msg{
	margin:0 0 0 2%;
	font-size: 16px;
	color: red;
	 display: inline-block;
	 float:center;
}
.divLabel{
	
	position:relative;
	top:12%;
}
.divlabelDate{
	position:relative;
	top:12%;
}
.div2Pos{
	position: absolute;
  	top: 12%;
  	left: 70%;
  	width:50vw;
  	height:100vh;
}
.resultMsg{
	margin:2% 0 0 30%;
	font-size: 22px;
	color: red;
	display: inline-block;
	float:center;
}
